<%= form_with model: contact do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% contact.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
    <% contact.errors.full_messages_for(:phone).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
